.grid-titelbar {
  display: flex;
  column-gap: minmax(auto, 20%);
  user-select: none;
  align-items: center;
  margin-top: 30px;
  flex: 1;
  justify-content: center;
}

.mobile_grid-titelbar {
  column-gap: minmax(auto, 20%);
  user-select: none;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  width: 50vw;
}


.grid-item {
  transition: transform .2s;
  padding-inline: 1vw;
}

.grid-item:hover {
  transform: scale(1.1);
}

#social {
  padding: 0!important;
  height: 7vw;
  mix-blend-mode: overlay;
  filter: drop-shadow(5px 5px 20px black);
}

#mobile_social {
  padding: 0!important;
  height: 10vw;
  mix-blend-mode: overlay;
  filter: drop-shadow(5px 5px 20px black);
}