.Projects {
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;

    gap: 2vw;

    align-items: center;
    padding: 2vw;
}

h1 {
    font-size: 3vw !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.ProjectsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
}

.Project {
    height: auto;
    width: auto;
    transition: transform .2s;
}

.Project:hover {
    height: auto;
    width: auto;
    transform: scale(1.1);
}

.ProjectImage {
    border-radius: 1vw;
}