.Home {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: auto;
    color: whitesmoke;
}

h1 {
    left: calc(50% - 500px);
    font-size: 7vw;
    height: auto;
    width: auto;
    mix-blend-mode: normal;
}

h2 {
    font-size: 13vw;
    height: auto;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 15px;
    display: block;
}

#slash {

}

.MainText {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
    padding-top: 40vh;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    /*background: url("/public/HomeBackground.gif");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left 0% bottom 100%;
    -moz-background-clip: text;
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
    
    filter: contrast(1.2);
    filter: brightness(2);*/
}

.grid-titelbar {
    right: calc(50% - 450px);
    display: inline-grid;
    user-select: none;
    grid-template-columns: 6vw 6vw 6vw 6vw;
    gap: 0% 6%;
    justify-content: center;
    width: auto;
    margin-top: 18px;
}

.grid-item {
    display: inline-grid;
    height: auto;
}

img {
    padding: 0!important;
    filter: invert();
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}