.GithubStats {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    mix-blend-mode: color-burn;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;

    position: absolute;
    object-fit: cover;
    overflow: hidden;
}